.game-CLOSED{
    background-color: rgba(255, 0, 0, 0.562);
    border: 1px solid #003915;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    min-width: max-content;
}

.game-OPEN{
    background-color: white;
    border: 1px solid #003915;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    min-width: max-content;
}

.game-SUSPENDED{
    background-color: rgba(128, 128, 128, 0.582);
    border: 1px solid #003915;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    min-width: max-content;
}

.game-title-state {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.game-time-bet {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.game-bet{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
}

.date-hour{
    padding-top: 5px;
    padding-left: 5px;
    color: gray;
    width: inherit;
}