.boletim {
    border: 2px solid #003915;
    border-radius: 15px;
    padding: 20px;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.boletim-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.boletim-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tipoAposta {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.apostaBoletim {
    border-radius: 15px;
    padding: 20px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boletim-ganhos {
    display: flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

input[type="txtBoletim"]{
    max-width: 250px;
    border-radius: 5px;
    padding: 12px 15px;
    border: none;
    background: #f1f1f1;
}


input[type="txtBoletim"]:focus,
input[type="txtBoletim"]:hover{
    background-color: #ddd;
    outline: none;
}