:root {
  --primary: #fff;
}

.btn {
  padding: 8px 20px;
  border-radius: 13px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: #dc7633;
  color: black;
  border: 2px solid #dc7633;
}

.btn--outline {
  background-color: white;
  color: #d15909;
  padding: 8px 20px;
  border: 2px solid #dc7633;
  transition: all 0.3s ease-out;
}

.btn--inverted {
  background-color: white;
  color: black;
  padding: 8px 20px;
  border: 2px solid #dc7633;
  transition: all 0.3s ease-out;
}

.btn--bet {
  background-color: white;
  color: black;
  padding: 8px 20px;
  border: 2px solid #003915;
  transition: all 0.3s ease-out;
}

.btn--bet-clicked {
  transition: all 0.3s ease-out;
  background: #dc7633;
  border: 2px solid #dc7633;
  color: #242424;
  transition: 250ms;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--flex {
  font-size: 20px;
  width: 100%;
}



.btn--primary:hover,
.btn--outline:hover{
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}

.btn--inverted:hover{
  transition: all 0.3s ease-out;
  background: #dc7633;
  color: #242424;
  transition: 250ms;
}

.btn--bet:hover {
  transition: all 0.2s ease-out;
  background: white;
  border: 2px solid #dc7633;
  color: #d15909;
  transition: 125ms;
}