.carteira {
    border: 2px solid #003915;
    border-style: dotted;
    border-radius: 15px;
    padding: 20px;
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.carteira-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.carteira-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carteira-transferencia {
    display: flex;
    flex-direction: row;
}





.carteiraSimples {
    border-radius: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carteira-headerS {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: flex-start;
}

.carteira-transferenciaS {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.carteira-transferencia-botoes{
    display: flex;
    justify-content: space-between;
}

.btn{
    margin-left: 3px;
}

input[type=txtC]{
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    border: none;
    background: #f1f1f1;
}

input[type=txtC]:focus,
input[type=txtC]:hover{
    background-color: #ddd;
    outline: none;
}

@media only screen and (max-width: 700px){
    .carteira-transferenciaS {
        flex-direction: column;
        width: 300px;
    }
    
    .input[type=txtC]{
        width: 100%;
    }
}


@media only screen and (max-width: 550px){
    .carteiraSimples {
        display: flex;
        flex-direction: column;
    }
    
    .carteira-transferencia-botoes{
        padding: 10px 20px;
    }

    .carteira-headerS {
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
    }
}