.gamestab {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    color: #003915;
}

.bets-tab {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.boletimbox{
    padding: 30px;
    padding-left: 0px;
}