.navbar {
  background: #003915;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  min-height: max-content;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 50px;
  margin-right: 30px;
  align-items: center;
  height: 80px;
}

.navbar-logo {
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.bellButton{
  scale: 0.5;
}

.icon {
  width: 150px;
  text-align: left;
  border-radius: 5px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.bellButtonMenuIcon{
  display: flex;
  flex-direction: row;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 2rem;
  height: 100%;
}

.nav-links:hover {
  background-color: white;
  color: #003915;
  border-radius: 40px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
  font-size: 30px;
}

.fa-times {
  color: #fff;
  font-size: 38px;
}

.nav-links-mobile {
  display: none;
}
.menu-icon {
  display: none;
  margin-right: 15px;
}

.btn--Notify{
  cursor: pointer;
}

.sizeBTN{
  min-width: 140px;
  margin-left: 15px;
}

@media screen and (max-width: 1250px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 92vh;
    position: absolute;
    top: 80px;
    left: -100%;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 0.95;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: block;
    width: 100%;
    height: 100%;
  }

  .menu-icon {
    display: flex;
    font-size: 1.8rem;
    cursor: pointer;
    height: inherit;
    align-items: center;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}