.perfil {
  background-color: #f1f1f1;
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil-box {
  background-color: white;
  color: #003915;
  padding: 30px;
  border-radius: 25px;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.informacoes-perfil {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}


.informacoes-perfil-content {
  display: flex;
  justify-content: space-between;
}

.informacoes-perfil-content > h3 {
  padding: 15px;
}

input[type=txtP2]{
  border-radius: 5px;
  width: 200px;
  padding: 15px;
  border: none;
  background: #f1f1f1;
}

input[type=txtP]{
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=txtP2]:focus,
input[type=txtP2]:hover,
input[type=txtP]:focus,
input[type=txtP]:hover{
  background-color: #ddd;
  outline: none;
}

.carteiras{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.carteiras-body{
  background-color: white;
  width: 100%;
  display: block;
  min-width: 741px;
}

.carteiras-line{
  display: flex;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  width: 100%;
  padding: 10px 30px;
}

.save{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.registerbutton{
  margin-right: 10px;
}

.promos-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 80px;
}

.promos-box-data{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 30px;
}

@media only screen and (max-width: 880px){
  .carteiras{
    overflow-x: scroll;
  }
}

@media only screen and (max-width: 780px){
  input[type=txtP]{
    width: 100%;
    max-width: none;
  }
  .informacoes-perfil-content {
    flex-direction: column;
  }
}