* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.whiteBackGround {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.greenBackGround {
  padding: 30px;
  display: flex;
  min-height: 92vh;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #003915;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}